*
{
box-sizing: border-box;
margin: 0px;
padding: 0px;
}

body {
background-color: white;   
font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 12vh;
    width: 100%;
    position: fixed;

}

.links {
    list-style: none;
}

.links li{
    display: inline-block;
    padding: 0 20px;
}

.låda {
    bottom: 0;
    height: 12vh;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(155, 23, 23);
    color: white;
    
}

.Text1{

    margin-left: 10px;
    
}